.form{
    padding-top: 1.5rem;
}
.item{
    margin-bottom: 0.5rem;
}
.subitem{
    margin-left: 0.5rem;
}
.dialog{
    min-height: 400px;
    overflow: hidden
}
.text_area{
    max-height: 340px;
}
h6{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
