
<p-dialog header="Title" [(visible)]="display" position="top" height="auto" *ngIf="display" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-scrollPanel [style]="{width: '100%', height: '400px'}">
        <p-divider></p-divider>
        <div>
            <h6>Created at: {{userController.parseDate(user.created_at)}}</h6>
            <h6>Updated at: {{userController.parseDate(user.updated_at)}}</h6>
        </div>
        <p-divider></p-divider>
        <div class="form">
            <div class="item">
                <span class="p-float-label">
                    <input id="user-name" type="text" pInputText [(ngModel)]="user.user_name" name="user_name">
                    <label for="user-name">Логин</label>
                </span>
            </div>
            <div class="item">
                <span class="p-float-label">
                    <input id="user-password" type="password" pPassword pInputText [(ngModel)]="user.password" name="password">
                    <label for="user-password">Пароль</label>
                </span>
            </div>
            <div class="item">
                <span class="p-float-label">
                    <input id="user-email" type="text" pInputText [(ngModel)]="user.email" name="email">
                    <label for="user-email">Почта</label>
                </span>
            </div>
            <p-dropdown [options]="roles" [(ngModel)]="selectedRole" optionLabel="Caption"></p-dropdown>
            <p-divider></p-divider>
            <div class="item">
                <button pButton (click)="save()">Save</button>
                <button pButton class="subitem" (click)="close()">Cancel</button>
            </div>
        </div>
    </p-scrollPanel>
</p-dialog>
